<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li><a routerLink="profile" routerLinkActive="active">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!authService.isStudentLoggedIn()">
          <a routerLink="student-login" routerLinkActive="active">Student Log In</a>
        </li>
        <li *ngIf="!authService.isAdminLoggedIn()">
          <a routerLink="admin-login" routerLinkActive="active">Admin Log In</a>
        </li>
        <li>
          <ul class="menu">
            <li *ngIf="authService.isStudentLoggedIn()">
              Welcome Student
              <ul>
                <li routerLink="student-dashboard">Student Dashboard</li>
                <li routerLink="student-logout">Student Logout</li>
              </ul>
            </li>
            <li *ngIf="authService.isAdminLoggedIn()">
              Welcome Admin
              <ul>
                <li routerLink="admin-dashboard">Admin Dashboard</li>
                <li routerLink="admin-logout">Admin Logout</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; Copyright 2018 | B M Shams Nahid</p>
  </div>
</footer>
